openapi: 3.0.3
info:
  title: SmartMoving Open Customers Jobs API
  description: 'The SmartMoving Open API lets moving companies read and write the core objects of their SmartMoving CRM and operations platform - customers, opportunities (quotes / estimates), leads, jobs (booked moves), payments, and follow-ups. The Open API is fronted by Azure API Management and is available to Growth Plan customers in two tiers: Basic (read-only, for reporting and analytics) and Premium (read/write plus webhooks, for full integration and automation). All Open API requests authenticate with an x-api-key header issued at Settings > Integrations > SmartMoving API; the Azure gateway may additionally require an Ocp-Apim-Subscription-Key.

    A separate, free Lead Provider API (POST /leads/from-provider/v2) is available on every SmartMoving plan and authenticates with a per-source providerKey query parameter instead of the Open API key; it is included here for completeness.

    Endpoints under Customers, Opportunities, Leads, and Jobs are confirmed against SmartMoving''s documentation and community SDKs. Reference-data endpoints for branches, users, service types, and referral sources are modeled from the documented data model and marked with x-endpoint-status; verify exact paths and shapes in the SmartMoving Developer Portal.'
  version: '1.0'
  contact:
    name: SmartMoving
    url: https://www.smartmoving.com
  license:
    name: Proprietary
    url: https://www.smartmoving.com/terms
servers:
- url: https://api.smartmoving.com/api
  description: SmartMoving Open API (production)
security:
- apiKeyAuth: []
tags:
- name: Jobs
  description: Jobs (booked moves) attached to opportunities.
paths:
  /opportunities/{id}/jobs:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: listOpportunityJobs
      tags:
      - Jobs
      summary: List an opportunity's jobs
      description: Lists the jobs (booked moves) associated with an opportunity.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: The opportunity's jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createJob
      tags:
      - Jobs
      summary: Create a job (Premium)
      description: Creates a job (booked move) against an opportunity. Requires the Premium tier.
      x-endpoint-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      responses:
        '201':
          description: The created job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '403':
          $ref: '#/components/responses/Forbidden'
  /jobs/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    delete:
      operationId: deleteJob
      tags:
      - Jobs
      summary: Delete a job (Premium)
      description: Deletes a job by ID. Requires the Premium tier.
      x-endpoint-status: confirmed
      responses:
        '204':
          description: The job was deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: The API key's tier does not permit this operation (write requires Premium).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested record was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Job:
      type: object
      properties:
        id:
          type: string
        opportunityId:
          type: string
        jobNumber:
          type: string
        type:
          type: string
        jobDate:
          type: string
          format: date
        branchId:
          type: string
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The record identifier (GUID).
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Open API key issued at Settings > Integrations > SmartMoving API. The Azure API Management gateway may additionally require an Ocp-Apim-Subscription-Key header.
