openapi: 3.2.0
info:
  title: SmartMoving Open Opportunities API
  description: The SmartMoving Open API lets moving companies read and write the core objects of their SmartMoving CRM and operations platform - customers, opportunities (quotes / estimates), leads, jobs (booked moves), payments, and follow-ups.
  version: '1.0'
  contact:
    name: SmartMoving
    url: https://www.smartmoving.com
  license:
    name: Proprietary
    url: https://www.smartmoving.com/terms
servers:
- url: https://api.smartmoving.com/api
  description: SmartMoving Open API (production)
security:
- apiKeyAuth: []
tags:
- name: Opportunities
  description: Sales opportunities - quotes and estimates.
paths:
  /opportunities/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: getOpportunity
      tags:
      - Opportunities
      summary: Retrieve an opportunity
      description: Retrieves an opportunity (quote / estimate) by ID.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: The requested opportunity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /opportunities/quote/{quoteNumber}:
    parameters:
    - name: quoteNumber
      in: path
      required: true
      schema:
        type: string
      description: The human-facing quote number.
    get:
      operationId: getOpportunityByQuote
      tags:
      - Opportunities
      summary: Retrieve an opportunity by quote number
      description: Retrieves an opportunity by its quote number.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: The matching opportunity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
        '404':
          $ref: '#/components/responses/NotFound'
  /opportunities/{id}/payments:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: listOpportunityPayments
      tags:
      - Opportunities
      summary: List an opportunity's payments
      description: Lists payments recorded against an opportunity.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: The opportunity's payments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /opportunities/{id}/follow-ups:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: listOpportunityFollowUps
      tags:
      - Opportunities
      summary: List an opportunity's follow-ups (Premium)
      description: Lists follow-up tasks recorded against an opportunity.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: The opportunity's follow-ups.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createOpportunityFollowUp
      tags:
      - Opportunities
      summary: Create an opportunity follow-up (Premium)
      description: Creates a follow-up task against an opportunity. Requires the Premium tier.
      x-endpoint-status: confirmed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created follow-up.
          content:
            application/json:
              schema:
                type: object
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  responses:
    NotFound:
      description: The requested record was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The API key's tier does not permit this operation (write requires Premium).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
    Opportunity:
      type: object
      properties:
        id:
          type: string
        quoteNumber:
          type: string
        customerId:
          type: string
        branchId:
          type: string
        status:
          type: string
        serviceType:
          type: string
        moveDate:
          type: string
          format: date
        estimatedTotal:
          type: number
    Payment:
      type: object
      properties:
        id:
          type: string
        opportunityId:
          type: string
        amount:
          type: number
        method:
          type: string
        receivedOn:
          type: string
          format: date-time
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The record identifier (GUID).
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Open API key issued at Settings > Integrations > SmartMoving API. The Azure API Management gateway may additionally require an Ocp-Apim-Subscription-Key header.
