openapi: 3.2.0
info:
  title: SmartMoving Open Lead Provider API
  description: The SmartMoving Open API lets moving companies read and write the core objects of their SmartMoving CRM and operations platform - customers, opportunities (quotes / estimates), leads, jobs (booked moves), payments, and follow-ups.
  version: '1.0'
  contact:
    name: SmartMoving
    url: https://www.smartmoving.com
  license:
    name: Proprietary
    url: https://www.smartmoving.com/terms
servers:
- url: https://api.smartmoving.com/api
  description: SmartMoving Open API (production)
security:
- apiKeyAuth: []
tags:
- name: Lead Provider
  description: Inbound lead intake from websites and third-party providers.
paths:
  /leads/from-provider/v2:
    post:
      operationId: createLeadFromProvider
      tags:
      - Lead Provider
      summary: Submit a lead from a provider
      description: Pushes a new lead into a SmartMoving account from a website or third-party lead provider. Authenticated by a per-source providerKey query parameter rather than the Open API x-api-key, and free on every SmartMoving plan. Either the individual origin/destination address components or the *AddressFull fields may be supplied, but not both.
      x-endpoint-status: confirmed
      security: []
      parameters:
      - name: providerKey
        in: query
        required: true
        schema:
          type: string
        description: Per-source provider key from Settings > Sales > Lead Providers.
      - name: branchId
        in: query
        required: false
        schema:
          type: string
        description: Optional branch to route the lead to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderLead'
      responses:
        '200':
          description: The lead was accepted.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid lead payload.
components:
  schemas:
    ProviderLead:
      type: object
      required:
      - FirstName
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        FullName:
          type: string
        PhoneNumber:
          type: string
        PhoneType:
          type: string
        Email:
          type: string
        MoveDate:
          type: string
          description: Move date in YYYYMMDD format.
        MoveSize:
          type: string
        Bedrooms:
          type: string
        ServiceType:
          type: string
        ReferralSource:
          type: string
        Notes:
          type: string
        OriginStreet:
          type: string
        OriginCity:
          type: string
        OriginState:
          type: string
        OriginZip:
          type: string
        OriginAddressFull:
          type: string
        DestinationStreet:
          type: string
        DestinationCity:
          type: string
        DestinationState:
          type: string
        DestinationZip:
          type: string
        DestinationAddressFull:
          type: string
        UtmSource:
          type: string
        UtmMedium:
          type: string
        UtmCampaign:
          type: string
        leadCost:
          type: number
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Open API key issued at Settings > Integrations > SmartMoving API. The Azure API Management gateway may additionally require an Ocp-Apim-Subscription-Key header.
